<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.edureka.bookshopping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".BookshopLogin"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ItemDisplayActivity"
            android:label="@string/title_activity_item_display"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CartDisplayActivity"
            android:label="@string/title_activity_cart_display"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PurchaseSummaryActivity"
            android:label="@string/title_activity_purchase_summary"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>